{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="col-sm-10">
    <h3 class="text-white my-5">About Page</h3>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis reiciendis magni aliquid eveniet ullam natus, expedita sint! Praesentium vel facere quos nulla debitis asperiores illum non quod corporis, quam eius.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum id dolorum sint possimus error expedita accusamus itaque quisquam neque recusandae dolor fugit magnam maiores nihil minus quas sapiente inventore nisi adipisci, a voluptates. Consectetur deserunt quos eum? Nulla, veritatis? Possimus eius molestiae culpa placeat quas, quibusdam tempora nulla ex aspernatur!</p>
    
</div>
{% endblock content %}